@model LibraryApp.Models.ViewModels.ConfirmRenewalViewModel
@{
}

@section styles {
    <link rel="Stylesheet" href="~/css/single-result-v2.css" />
}


<h1 class="text-center">Renewal confirmation</h1>

<div class="row justify-content-center">
    <div class="col-lg-8 col-md-8">
        <div class="single-result">
            <div class="key-value-result">
                <h2>Name</h2>
                <h4>@Model.Rental.BookCopy.Book.Title</h4>
            </div>
            <div class="key-value-result">
                <h2>Author</h2>
                <h4>@Model.Rental.BookCopy.Book.Author</h4>
            </div>
            <div class="key-value-result">
                <h2>Rental date</h2>
                <h4>@Model.Rental.RentalDate</h4>
            </div>
            <div class="key-value-result">
                <h2>Current deadline</h2>
                <h4>@Model.Rental.CurrentDeadline</h4>
            </div>
            <div class="key-value-result">
                <h2>New deadline</h2>
                <h4>@Model.Rental.CurrentDeadline.AddDays(Model.RenewalSpanInDays)</h4>
            </div>
            <div>
                <h4 class="text-center">(Remaining renewals: @Model.RemainingRenewals)</h4>
            </div>
            <div class="button-div">
                <form asp-action="Renew" method="post">
                    <input name="rentalId" value="@Model.Rental.RentalId" hidden />
                    <button class="submit-button" type="submit">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>
